{% extends 'Loggin/index.html.twig' %}

{% block body %}
  <a class="btn btn-default" href="/categorias"> Regresar</a>
  <hr>
    <h2 class="page-header">{{categoria.Nombre}}</h2>
    <ul class="list-group">
      <li class="list-group-item"> Descripcion: {{categoria.Descripcion}}</li>
    </ul>
{% endblock %}
