{% extends 'Loggin/index.html.twig' %}

{% block body %}
<h2 class="page-header">Todas las Categorias</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for categoria in categorias %}
      <tr>
          <td>{{categoria.Nombre}}</td>
          <td>
            <a href="/categorias/detalle/{{categoria.id}}" class="btn btn-success">
            Ver
            </a>
            <a href="/categorias/editar/{{categoria.id}}" class="btn btn-default">
            Editar
            </a>
            <a href="/categorias/eliminar/{{categoria.id}}" class="btn btn-danger">
            Eliminar
            </a>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
